.h {
	width: var(--w);
	aspect-ratio: cos(30deg);
	clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
	background: #5f6c7a;
}
.l {
	display: flex;
	gap: 4px;
	translate: calc((var(--w) / 2 + 2px) * var(--i))
		calc((var(--w) * cos(30deg) / -3 + 4px * cos(30deg)) * var(--i));
}
html {
	display: flex;
	justify-content: center;
	place-items: center;
	height: 100%;
}
body {
	background-color: #122335;
	--w: min(
		calc((100dvw - 110px) / 16),
		calc(((100dvh - 186px) * 4 / 34) * cos(30deg))
	);
	font-family: sans-serif;
	margin: 25px;
	height: calc((var(--w) / cos(30deg)) * 34 / 4 + 40px * cos(30deg));
	width: calc(var(--w) * 16 + 90px);
	overflow: hidden;
}
#c {
	position: absolute;
	right: 16px;
	top: 0;
	background: none;
	border: none;
	color: #fff;
	font-size: 35px;
	outline: none;
}
#m {
	border: none;
	background-color: #444d57;
	font-size: 32px;
}
p {
	margin: 16px;
}
::backdrop {
	background-image: linear-gradient(45deg, var(--s), var(--m), var(--s));
	opacity: 0.75;
}
